# Common IntelliJ Platform excludes

# Ignore only specific Rider files/directories
# For syntax see: https://stackoverflow.com/a/14422549/12124
/.idea/*
!/.idea/.idea.*
/.idea/.idea.*/*
!/.idea/.idea.*/.idea
/.idea/.idea.*/.idea/*
!/.idea/.idea.*/.idea/runConfigurations


*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
*.log


